body {
    --main-background-color: #f7f7f8;
    --main-background-contrast-color: #111;

    --background-color: #fff;
    --background-contrast-color: #333;
    --link-color: #0070f3;
}

body[data-theme=dark] {
    --main-background-color: #222222;
    --main-background-contrast-color: #ffffff;
    --background-color: #121212;
    --background-contrast-color: #e3e3e3;
    --link-color: #0070f3;
}

@font-face {
    font-family: 'Roboto Mono';
    src: url(./RobotoMono.ttf);
}

body {
    font-family: 'Roboto Mono';
    margin: 0;
    height: 100vh;
    padding: 0;
    width: 100vw;

    background: var(--main-background-color);
}

main {
    color: var(--background-contrast-color);
    margin: 36px auto;
    padding: 18px;
}

h1 {
    color: var(--main-background-contrast-color);
    margin: 0;
}

#status {
    opacity: 0.6;
}

#status {
    font-size: 0.9rem;
    margin-top: 6px;
    opacity: 0.8;
}

#items {
    column-gap: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    list-style: none;
    margin: 0;
    margin-top: 1rem;
    overflow-wrap: break-word;
    padding: 0;
    row-gap: 2rem;
}

.item {
    background: var(--background-color);
    border-radius: 8px;
    box-shadow: 0 6px 24px rgba(0, 0, 0, 0.06);
    display: flex;
    flex-direction: column;
    padding: 1rem 0;
    gap: 1rem;
}

.item:first-child {
    border-top: none;
}

.item>* {
    padding: 0rem 1rem;
}

.item .item-header {
    align-items: center;
    display: flex;
    gap: 0.5rem;
}

.item .item-header .feed-icon {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 0.25rem;
    object-fit: contain;
}

.item .item-header .feed-title {
    font-size: 0.9rem;
}

.item .item-header .score-badge {
    align-items: center;
    background-color: var(--main-background-color);
    border-radius: 50%;
    color: var(--main-background-contrast-color);
    display: flex;
    font-size: 0.8rem;
    height: 2rem;
    justify-content: center;
    margin-left: auto;
    min-height: 2rem;
    min-width: 2rem;
    width: 2rem;
}

.item img {
    max-width: 100%;
    width: 100%;
    padding: 0;
}

.item a {
    color: var(--link-color);
    font-weight: bold;
    text-decoration: none;
}

.item .description {}

.item a:hover {
    text-decoration: underline;
}

.item .item-footer {
    margin-top: auto;
    opacity: 0.4;
}