body {
    --title-color: red;
    --main-background-color: #f7f7f8;
    --main-background-contrast-color: #111;
    --background-color: #fff;
    --background-contrast-color: #333;
    --link-color: #0070f3;
}

body[data-theme=dark] {
    --header-color: #18181b;
    --title-color: #ffffff;
    --border-color: #5e6b84;
    --main-background-color: #000000;
    --main-background-contrast-color: #ffffff;
    --background-color: #000000;
    --background-contrast-color: #9f9fa9;
    --link-color: #0070f3;
}

@font-face {
    font-family: 'Roboto Mono';
    src: url(./RobotoMono.ttf);
}

@font-face {
    font-family: 'Send Flowers';
    src: url(./SendFlowers.ttf);
}

@font-face {
    font-family: 'Montserrat';
    src: url(./Montserrat.ttf);
}


body {
    font-family: 'Roboto Mono';
    margin: 0;
    padding: 0;
    width: 100vw;

    background: var(--main-background-color);
}

/* Disable scrolling when image showcase is open */
body:has(#image-showcase.open) {
    overflow: hidden;
}

header {
    align-items: center;
    background-color: var(--header-color);
    box-shadow: 0 0.3rem 1.2rem rgba(0, 0, 0, 30%);
    display: flex;
    gap: 1rem;
    padding: 0.5rem 1rem;
    position: sticky;
    top: 0;
    z-index: 20;
}

header h1 {
    color: var(--title-color);
    cursor: pointer;
    font-family: 'Montserrat';
    font-size: 2rem;
    margin: 0;
    text-align: center;
}

header a {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
}

header img {
    height: 1.5rem;
    opacity: 0.75;
}

header img:hover {
    opacity: 1;
}

#status {
    font-size: 0.9rem;
    opacity: 0.8;
}

main {
    color: var(--background-contrast-color);
    padding: 18px;
}

@media (max-width:600px) {
    main {
        padding: 18px 0;
    }

    #status, #fetched {
        margin-left: 18px;
    }
}

#items {
    column-gap: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    list-style: none;
    margin: 0;
    margin-top: 1rem;
    overflow-wrap: break-word;
    padding: 0;
    row-gap: 2rem;
}

.item {
    background: var(--background-color);
    border: 1px solid var(--border-color);
    border-radius: 8px;
    box-shadow: 0.3rem 0.3rem 1.2rem rgba(0, 0, 0, 30%);
    display: flex;
    flex-direction: column;
    padding: 1rem 0;
    gap: 1rem;
}

.item>* {
    padding: 0rem 1rem;
}

.item .item-header {
    align-items: center;
    display: flex;
    gap: 0.5rem;
}

.item .item-header .feed-icon {
    width: 1.5rem;
    height: 1.5rem;
}

.item .item-header .feed-title {
    color: var(--main-background-contrast-color);
    font-size: 0.9rem;
}

.item .item-header .score-badge {
    align-items: center;
    background-color: var(--main-background-color);
    border-radius: 50%;
    color: var(--main-background-contrast-color);
    display: flex;
    font-size: 0.8rem;
    height: 2rem;
    justify-content: center;
    margin-left: auto;
    min-height: 2rem;
    min-width: 2rem;
    width: 2rem;
}

.item img.thumbnail {
    cursor: zoom-in;
    height: 10rem;
    max-width: 100%;
    object-fit: cover;
    padding: 0;
    width: 100%;
}

.item a {
    color: var(--link-color);
    font-weight: bold;
    text-decoration: none;
}

.item .description {}

.item a:hover {
    text-decoration: underline;
}

.item .item-footer {
    margin-top: auto;
    opacity: 0.4;
}

#image-showcase {
    align-items: center;
    backdrop-filter: blur(3px);
    background: rgba(0, 0, 0, 0.75);
    display: flex;
    inset: 0;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    position: fixed;
    /* -webkit-backdrop-filter: blur(6px); */
    z-index: 1000;
}

#image-showcase.open {
    opacity: 1;
    pointer-events: auto;
}

#image-showcase>img {
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.6);
    cursor: zoom-out;
    height: auto;
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
    width: auto;
}