.item.success {
    background-color: var(--background-color-success);
    color: var(--background-color-success-contrast);
    border-color: var(--background-color-success-contrast);
}

.item.error {
    background-color: var(--background-color-error);
    color: var(--background-color-error-contrast);
    border-color: var(--background-color-error-contrast);
}

.item .item-header .feed-source-icon {
    background-image: url(../images/rss.svg);
    background-size: cover;
    margin-left: auto;
    filter: var(--accent-filter);
    opacity: 0.5;
}

.item .item-header .feed-source-icon:hover,
.item .item-header .feed-source-icon:focus {
    opacity: 1;
}

.item .categories-wrapper {
    margin-left: none;
}